$hover-highlight-red:           #d50000;
$red:                           #d50000;
$background-dark-grey:          #212121;
$table-hover-grey-alpha:        rgba(0, 0, 0, .3);
$black:                         #1B1C1D;
$absolute-black:                #000;
$tooltip-background-grey:       rgba(214, 214, 214, .3);
$ticket-background-olive-grey:  #95A5A6;
$grey-one:                      #CFD8DC;
